.btn {
    width: 50px;
    height: 40px;
    color: white;
    border-top-color: rgba(0, 0, 0, .3);
    border-radius: 2px;
    background: #4CAF50;
    box-shadow:
        0 0 3px rgba(0, 0, 0, 0) inset,
        0 1px 1px 1px rgba(255, 255, 255, .2),
        0 -1px 1px 1px rgba(0, 0, 0, 0);
}

.count {
    width: 100px;
    text-align: center;
}

.paginate {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: center;
    max-width: 963px;
    align-items: center
}