
.userForm {
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.error {
    color: red;
    width: 445px;
    position: absolute;
    top: 50px;

}

.input {
    position: relative;
 }










