
.userForm {
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
}



.error {
    color: red;
    position: absolute;
    bottom: -40px;

}

.input {
    position: relative;
 }










