.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
 

}

.caption {
    background: #F5D7BF;
    padding: 10px;
    font-size: 18px;
}

.tableWrap {
    padding-top: 50px;
    margin-bottom: 20px;
}


.wrap {
    padding-top: 200px;
    padding-bottom: 200px;
}