.user-form__btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
}

.user-form {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 251px;
    display: flex;
  }